@model IEnumerable<ProductDto>
@{
    ViewData["Title"] = "ProductIndex";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Product</h4>
                        <p class="card-subtitle mb-4">
                            Product List
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>Category</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Name</td>
                                            <td>@((item.Price).ToString("c"))</td>
                                            <td>@item.Description</td>
                                            <td><img src="@item.ImageUrl" width="50" height="50"/> </td>
                                            <td>@item.CategoryName</td>
                                            <td><a href="/Product/ProductDelete/@item.ProductId" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a asp-action="ProductUpdate" asp-route-productId="@item.ProductId" class="btn btn-outline-success">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Product/ProductCreate/" class="btn btn-outline-primary">New Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
